*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 25px;
}

nav{
    background-color: #b41111;
    text-align: center;
}

nav ul li {
   display: inline-block;
   position: relative;
}

nav li a {
    display: block;
    color: white;
    padding: 14px 28px;
    text-decoration: overline;
}

nav ul li a:hover {
    background-color: #111;
    text-decoration: none;
}

nav ul .submenu {
    display: none;
    position: absolute;
    background-color: #b41111;
}


nav .submenu li a {
    padding: 10px 20px;
}

nav ul li:hover .submenu {
    display: block;
    text-decoration: none;
   
}
